@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

a{
  text-decoration: none !important;
  color: inherit;
}

body{
  background-color: #F3F7F0;
  font-family: 'Rubik', sans-serif;

}

.header{
  text-align: center;
  background-color: #1B264F;
  color: #F3F7F0;
  padding: 3rem;
}

.header__titulo{
  font-size: 3rem;
  margin-bottom: 1rem;
}

.header__subtitulo{
  font-size: 2.5rem;
  font-weight: 600;
}

.carta{
  background-color: #083D77;
  color: #F3F7F0;
  text-transform: capitalize;
  width: 100%;
  height: 30rem;
  transition: .5s all;
}

.carta:hover{
 background-color: #1B264F;
}




.carta__cuerpo{
  padding: 2rem;

}

.carta__titulo{
  font-size: 2.3rem;
}

.carta__texto{
  font-size: 1.4rem;
}